.ss{
    --size: 20px;
}
.fs{
    font-size: 13px;
}
.center{
    color: red;
    text-align: center;
}
.cor1{
  color:yellow;
}
ion-content{
    --background: #fff url('../../assets/img/pizza.jpg') no-repeat center center / cover;
}
