.ss{
    --size: 20px;
}
.fs{
    font-size: 13px;
}
.center{
    color: red;
    text-align: center;
}
.cor1{
  color: yellow;
}
.cor2{
    color: red;
    font-size: 25px;
}
.cor3{
    color: Black;
    font-size: 20px;
}
.cor4{
    color: black;
}
.cor5{
    color: red;
    font-size: 20px;
}
ion-content{
    --background: #fff url('../../assets/img/pizza2.jpg') no-repeat center center / cover;
}
