<ion-header>
    <ion-toolbar color = "warning">
        <ion-buttons slot='start'>
          <ion-back-button defaultHref="home">
            </ion-back-button>
           <ion-title><b class = "center">Cardápio</b></ion-title>
         </ion-buttons>
        </ion-toolbar>
  </ion-header>

<ion-content padding>
<h1 class = "cor2">Sabores de pizzas</h1><br>

<u class = "cor1">calabresa:</u><br>
<p>Molho de tomate fresco, calabresa especial fatiada, rodelas de cebola, orégano e azeitonas pretas.</p>
<u class = "cor1">Mussarela:</u><br>
<p>Molho de tomate fresco, cobertura de mussarela especial, orégano e azeitonas pretas.</p>
<u class = "cor1">Portuguesa:</u><br>
<p>Molho de tomate fresco, presunto cozido, ovos picados, rodelas de cebola, cobertura de mussarela especial, orégano e azeitonas pretas.</p>
<u class = "cor1">Lombo:</u><br>
<p>Molho de tomate fresco, lombo fatiado, cobertura de catupiry, rodelas de cebola, orégano e azeitonas pretas.</p>

<h1 class = "cor2">Bebidas</h1><br>

<u class = "cor1">Refrigerantes 2 Litros:</u><br>
<p>Coca-cola, Pepsi, Fanta, Sprite, Guaraná Antartica.</p>
<u class = "cor1">Refrigerantes Lata 350 ml:</u><br>
<p>Coca-cola, Fanta, Sprite, Guaraná Antartica.</p>
<u class = "cor1">Suco Jarra e Copo:</u><br>
<p>Laranja, Acerola, Abacaxi, Caju, Laranja com Acerola, Abacaxi com Hortelã.</p>
</ion-content>
